<div id="width-reference"></div>

<div id="btns-container">
    <button id="btn-display-3d-view" (click)="displayViewType('3d')" class="btn btn-info">{{ '3d' | translate }}</button>
    <button id="btn-display-2d-view" (click)="displayViewType('2d')" class="btn btn-info">{{ '2d' | translate }}</button>
    <button class="btn btn-danger" (click)="onResign()">{{ 'Resign' | translate }}</button>
    <button routerLink="/" class="btn btn-warning">{{ 'Your games' | translate }}</button>
    <button class="btn btn-success" (click)="showSharePanel=true">{{ 'Share' | translate }}</button>
</div>

<div id="game-result" class="game-result" [hidden]="game.getSentenceResult()==''">
    <div class="game-result-sentence fix-width">
        {{ game.getSentenceResult() | translate }}
    </div>
</div>

<div id="promotion-panel" [hidden]="!showPromotionPanel">
    <div id="promotion-banner">
        <a class="promotion-close glyphicon glyphicon-remove" (click)="onClosePromotionPanel()"></a>
        <div [hidden]="game.getColorByUser(profile)=='w'">
            <a (click)="onSelectPromotion('q')"><img src="assets/pieces/piece-b-q.svg"></a>
            <a (click)="onSelectPromotion('r')"><img src="assets/pieces/piece-b-r.svg"></a>
            <a (click)="onSelectPromotion('n')"><img src="assets/pieces/piece-b-n.svg"></a>
            <a (click)="onSelectPromotion('b')"><img src="assets/pieces/piece-b-b.svg"></a>
        </div>

        <div [hidden]="game.getColorByUser(profile)=='b'">
            <a (click)="onSelectPromotion('q')"><img src="assets/pieces/piece-w-q.svg"></a>
            <a (click)="onSelectPromotion('r')"><img src="assets/pieces/piece-w-r.svg"></a>
            <a (click)="onSelectPromotion('n')"><img src="assets/pieces/piece-w-n.svg"></a>
            <a (click)="onSelectPromotion('b')"><img src="assets/pieces/piece-w-b.svg"></a>
        </div>
    </div>
</div>

<div id="share-panel" [hidden]="!showSharePanel">
    <div id="share-panel-inside">
        <a class="share-close glyphicon glyphicon-remove" (click)="showSharePanel=false"></a>
        <p>{{ "For sharing this game, please copy/pase this code:" | translate }}</p>
        <textarea>&lt;iframe src=&quot;{{sharingUrl}}&quot; width=&quot;480&quot; height=&quot;550&quot;&gt;&lt;/iframe&gt;</textarea>
    </div>
</div>

<div id="header-opponent" class="fix-width">
    <div class="player view-by-black">
        <span *ngIf="game.playingColor == 'w'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('w').username }}</span>
    </div>
    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'b'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('b').username }}</span>
    </div>
</div>

<div id="body-game-2d">

    <table
            class="chessboard-wrapper view-by-black fix-width fix-height">
        <tr>
            <td class="square-name">
                1
            </td>
            <td rowspan="8" colspan="8">

                <table class="chessboard">
                    <tr *ngFor="let number of ['1', '2', '3', '4', '5', '6', '7', '8']">
                        <td *ngFor="let letter of ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']"
                            class="{{ letter }}{{ number }} {{ letter+number | squareTone }}"
                            (click)="onClickSquare(letter+number)"
                            [ngClass]="{'last-from': game.chessboard[letter+number]['lastFrom'], 'last-to': game.chessboard[letter+number]['lastTo'], 'selected': game.chessboard[letter+number]['selected']}">
                            <img src="assets/pieces/piece-{{ game.chessboard[letter+number]['piece']}}.svg">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="square-name">
                2
            </td>
        </tr>
        <tr>
            <td class="square-name">
                3
            </td>
        </tr>
        <tr>
            <td class="square-name">
                4
            </td>
        </tr>
        <tr>
            <td class="square-name">
                5
            </td>
        </tr>
        <tr>
            <td class="square-name">
                6
            </td>
        </tr>
        <tr>
            <td class="square-name">
                7
            </td>
        </tr>
        <tr>
            <td class="square-name">
                8
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="square-name">
                h
            </td>
            <td class="square-name">
                g
            </td>
            <td class="square-name">
                f
            </td>
            <td class="square-name">
                e
            </td>
            <td class="square-name">
                d
            </td>
            <td class="square-name">
                c
            </td>
            <td class="square-name">
                b
            </td>
            <td class="square-name">
                a
            </td>
        </tr>
    </table>

    <table
            class="chessboard-wrapper view-by-white fix-width fix-height">
        <tr>
            <td class="square-name">
                8
            </td>
            <td rowspan="8" colspan="8">

                <table class="chessboard">
                    <tr *ngFor="let number of ['8', '7', '6', '5', '4', '3', '2', '1']">
                        <td *ngFor="let letter of ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']"
                            class="{{ letter }}{{ number }} {{ letter+number | squareTone }}"
                            (click)="onClickSquare(letter+number)"
                            [ngClass]="{'last-from': game.chessboard[letter+number]['lastFrom'], 'last-to': game.chessboard[letter+number]['lastTo'], 'selected': game.chessboard[letter+number]['selected']}">
                            <img src="assets/pieces/piece-{{ game.chessboard[letter+number]['piece']}}.svg">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="square-name">
                7
            </td>
        </tr>
        <tr>
            <td class="square-name">
                6
            </td>
        </tr>
        <tr>
            <td class="square-name">
                5
            </td>
        </tr>
        <tr>
            <td class="square-name">
                4
            </td>
        </tr>
        <tr>
            <td class="square-name">
                3
            </td>
        </tr>
        <tr>
            <td class="square-name">
                2
            </td>
        </tr>
        <tr>
            <td class="square-name">
                1
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="square-name">
                a
            </td>
            <td class="square-name">
                b
            </td>
            <td class="square-name">
                c
            </td>
            <td class="square-name">
                d
            </td>
            <td class="square-name">
                e
            </td>
            <td class="square-name">
                f
            </td>
            <td class="square-name">
                g
            </td>
            <td class="square-name">
                h
            </td>
        </tr>
    </table>

</div>

<div id="body-game-3d" class="fix-height">
    <canvas id="canvas"></canvas>
</div>

<div id="footer-you" class="fix-width">
    <div class="player view-by-black">
        <span *ngIf="game.playingColor == 'b'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('b').username }}</span>
    </div>

    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'w'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('w').username }}</span>
    </div>
</div>
