#width-reference {
    height: 55px;
}

/* Game result */
.game-result {
    font-size: xx-large;
    padding-left: 65px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    position: absolute;
    left: 0;
    top: 40%;
}
/*-----------------------------------------*/

#promotion-panel {
    padding-left: 65px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 35%;
}
#promotion-panel #promotion-banner {
    background: white;
    color: black;
    display: inline-block;
    padding: 15px 30px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: xx-large;
    position: relative;
}
#promotion-panel #promotion-banner a {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

#promotion-panel #promotion-banner a.promotion-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: medium;
}
/*-----------------------------------------*/

/* Players headers */
.player span.name {
    font-size: x-large;
}
.player span.turn {
    float: right;
    color: #b62516;
}
/*------------------------------------------*/

/* Chessboard wrapper */
.chessboard-wrapper {
    width: 100%;
}
.chessboard-wrapper td {
    width: 11.11%;
    vertical-align: middle;
}
.chessboard-wrapper td.square-name {
    text-align: center;
    font-size: smaller;
}
/*-----------------------------------------*/

/* Chessboard */
.chessboard {
    width: 100%;
}
.chessboard td {
    text-align: center;
    font-size: xx-large;
    cursor: default;
    background-size: cover;
}
.chessboard td img {
    width: 100%;
    height: 100%;
    display: block;
}
.chessboard td.dark {
    background-color: #d18b47;
}
.chessboard td.light {
    background-color: #ffce9e;
}
.chessboard td.dark.last-from,
.chessboard td.light.last-from,
.chessboard td.dark.current-from,
.chessboard td.light.current-from {
    background-color: #f1ed2e;
}
.chessboard td.dark.last-to,
.chessboard td.light.last-to,
.chessboard td.dark.current-to,
.chessboard td.light.current-to {
    background-color: #dad745;
}
