<div id="width-reference"></div>

<div id="game-result" class="game-result" [hidden]="game.getSentenceResult()==''">
    <div class="game-result-sentence fix-width">
        {{ game.getSentenceResult() | translate }}
    </div>
</div>

<div id="header-opponent" class="fix-width">
    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'b'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('b').username }}</span>
    </div>
</div>

<div id="body-game-2d">
    <table
            class="chessboard-wrapper view-by-white fix-width fix-height">
        <tr>
            <td class="square-name">
                8
            </td>
            <td rowspan="8" colspan="8">

                <table class="chessboard">
                    <tr *ngFor="let number of ['8', '7', '6', '5', '4', '3', '2', '1']">
                        <td *ngFor="let letter of ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']"
                            class="{{ letter }}{{ number }} {{ letter+number | squareTone }}"
                            [ngClass]="{'last-from': game.chessboard[letter+number]['lastFrom'], 'last-to': game.chessboard[letter+number]['lastTo']}">
                            <img src="assets/pieces/piece-{{ game.chessboard[letter+number]['piece']}}.svg">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td class="square-name">
                7
            </td>
        </tr>
        <tr>
            <td class="square-name">
                6
            </td>
        </tr>
        <tr>
            <td class="square-name">
                5
            </td>
        </tr>
        <tr>
            <td class="square-name">
                4
            </td>
        </tr>
        <tr>
            <td class="square-name">
                3
            </td>
        </tr>
        <tr>
            <td class="square-name">
                2
            </td>
        </tr>
        <tr>
            <td class="square-name">
                1
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="square-name">
                a
            </td>
            <td class="square-name">
                b
            </td>
            <td class="square-name">
                c
            </td>
            <td class="square-name">
                d
            </td>
            <td class="square-name">
                e
            </td>
            <td class="square-name">
                f
            </td>
            <td class="square-name">
                g
            </td>
            <td class="square-name">
                h
            </td>
        </tr>
    </table>
</div>

<div id="footer-you" class="fix-width">
    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'w'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('w').username }}</span>
    </div>
</div>


