<div id="width-reference"></div>

<div id="btns-container">
    <button id="btn-display-3d-view" (click)="displayViewType('3d')" class="btn btn-info">{{ '3d View' | translate }}</button>
    <button id="btn-display-2d-view" (click)="displayViewType('2d')" class="btn btn-info">{{ '2d View' | translate }}</button>
</div>

<div id="game-result" class="game-result" [hidden]="game.getSentenceResult()==''">
    <div class="game-result-sentence fix-width">
        {{ game.getSentenceResult() | translate }}
    </div>
</div>

<div id="header-opponent" class="fix-width">
    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'b'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('b').username }}</span>
    </div>
</div>

<div id="body-game-2d">
    <table
            class="chessboard-wrapper view-by-white fix-width fix-height">
        <tr>
            <td class="square-name">
                8
            </td>
            <td rowspan="8" colspan="8">
                <table class="chessboard">
                    <tr>
                        <td class="a8 light" (click)="onClickSquare('a8')"><img src="assets/pieces/piece-{{ game.chessboard['a8'] }}.svg"></td>
                        <td class="b8 dark"  (click)="onClickSquare('b8')"><img src="assets/pieces/piece-{{ game.chessboard['b8'] }}.svg"></td>
                        <td class="c8 light" (click)="onClickSquare('c8')"><img src="assets/pieces/piece-{{ game.chessboard['c8'] }}.svg"></td>
                        <td class="d8 dark"  (click)="onClickSquare('d8')"><img src="assets/pieces/piece-{{ game.chessboard['d8'] }}.svg"></td>
                        <td class="e8 light" (click)="onClickSquare('e8')"><img src="assets/pieces/piece-{{ game.chessboard['e8'] }}.svg"></td>
                        <td class="f8 dark"  (click)="onClickSquare('f8')"><img src="assets/pieces/piece-{{ game.chessboard['f8'] }}.svg"></td>
                        <td class="g8 light" (click)="onClickSquare('g8')"><img src="assets/pieces/piece-{{ game.chessboard['g8'] }}.svg"></td>
                        <td class="h8 dark"  (click)="onClickSquare('h8')"><img src="assets/pieces/piece-{{ game.chessboard['h8'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a7 dark"  (click)="onClickSquare('a7')"><img src="assets/pieces/piece-{{ game.chessboard['a7'] }}.svg"></td>
                        <td class="b7 light" (click)="onClickSquare('b7')"><img src="assets/pieces/piece-{{ game.chessboard['b7'] }}.svg"></td>
                        <td class="c7 dark"  (click)="onClickSquare('c7')"><img src="assets/pieces/piece-{{ game.chessboard['c7'] }}.svg"></td>
                        <td class="d7 light" (click)="onClickSquare('d7')"><img src="assets/pieces/piece-{{ game.chessboard['d7'] }}.svg"></td>
                        <td class="e7 dark"  (click)="onClickSquare('e7')"><img src="assets/pieces/piece-{{ game.chessboard['e7'] }}.svg"></td>
                        <td class="f7 light" (click)="onClickSquare('f7')"><img src="assets/pieces/piece-{{ game.chessboard['f7'] }}.svg"></td>
                        <td class="g7 dark"  (click)="onClickSquare('g7')"><img src="assets/pieces/piece-{{ game.chessboard['g7'] }}.svg"></td>
                        <td class="h7 light" (click)="onClickSquare('h7')"><img src="assets/pieces/piece-{{ game.chessboard['h7'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a6 light" (click)="onClickSquare('a6')"><img src="assets/pieces/piece-{{ game.chessboard['a6'] }}.svg"></td>
                        <td class="b6 dark"  (click)="onClickSquare('b6')"><img src="assets/pieces/piece-{{ game.chessboard['b6'] }}.svg"></td>
                        <td class="c6 light" (click)="onClickSquare('c6')"><img src="assets/pieces/piece-{{ game.chessboard['c6'] }}.svg"></td>
                        <td class="d6 dark"  (click)="onClickSquare('d6')"><img src="assets/pieces/piece-{{ game.chessboard['d6'] }}.svg"></td>
                        <td class="e6 light" (click)="onClickSquare('e6')"><img src="assets/pieces/piece-{{ game.chessboard['e6'] }}.svg"></td>
                        <td class="f6 dark"  (click)="onClickSquare('f6')"><img src="assets/pieces/piece-{{ game.chessboard['f6'] }}.svg"></td>
                        <td class="g6 light" (click)="onClickSquare('g6')"><img src="assets/pieces/piece-{{ game.chessboard['g6'] }}.svg"></td>
                        <td class="h6 dark"  (click)="onClickSquare('h6')"><img src="assets/pieces/piece-{{ game.chessboard['h6'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a5 dark"  (click)="onClickSquare('a5')"><img src="assets/pieces/piece-{{ game.chessboard['a5'] }}.svg"></td>
                        <td class="b5 light" (click)="onClickSquare('b5')"><img src="assets/pieces/piece-{{ game.chessboard['b5'] }}.svg"></td>
                        <td class="c5 dark"  (click)="onClickSquare('c5')"><img src="assets/pieces/piece-{{ game.chessboard['c5'] }}.svg"></td>
                        <td class="d5 light" (click)="onClickSquare('d5')"><img src="assets/pieces/piece-{{ game.chessboard['d5'] }}.svg"></td>
                        <td class="e5 dark"  (click)="onClickSquare('e5')"><img src="assets/pieces/piece-{{ game.chessboard['e5'] }}.svg"></td>
                        <td class="f5 light" (click)="onClickSquare('f5')"><img src="assets/pieces/piece-{{ game.chessboard['f5'] }}.svg"></td>
                        <td class="g5 dark"  (click)="onClickSquare('g5')"><img src="assets/pieces/piece-{{ game.chessboard['g5'] }}.svg"></td>
                        <td class="h5 light" (click)="onClickSquare('h5')"><img src="assets/pieces/piece-{{ game.chessboard['h5'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a4 light" (click)="onClickSquare('a4')"><img src="assets/pieces/piece-{{ game.chessboard['a4'] }}.svg"></td>
                        <td class="b4 dark"  (click)="onClickSquare('b4')"><img src="assets/pieces/piece-{{ game.chessboard['b4'] }}.svg"></td>
                        <td class="c4 light" (click)="onClickSquare('c4')"><img src="assets/pieces/piece-{{ game.chessboard['c4'] }}.svg"></td>
                        <td class="d4 dark"  (click)="onClickSquare('d4')"><img src="assets/pieces/piece-{{ game.chessboard['d4'] }}.svg"></td>
                        <td class="e4 light" (click)="onClickSquare('e4')"><img src="assets/pieces/piece-{{ game.chessboard['e4'] }}.svg"></td>
                        <td class="f4 dark"  (click)="onClickSquare('f4')"><img src="assets/pieces/piece-{{ game.chessboard['f4'] }}.svg"></td>
                        <td class="g4 light" (click)="onClickSquare('g4')"><img src="assets/pieces/piece-{{ game.chessboard['g4'] }}.svg"></td>
                        <td class="h4 dark"  (click)="onClickSquare('h4')"><img src="assets/pieces/piece-{{ game.chessboard['h4'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a3 dark"  (click)="onClickSquare('a3')"><img src="assets/pieces/piece-{{ game.chessboard['a3'] }}.svg"></td>
                        <td class="b3 light" (click)="onClickSquare('b3')"><img src="assets/pieces/piece-{{ game.chessboard['b3'] }}.svg"></td>
                        <td class="c3 dark"  (click)="onClickSquare('c3')"><img src="assets/pieces/piece-{{ game.chessboard['c3'] }}.svg"></td>
                        <td class="d3 light" (click)="onClickSquare('d3')"><img src="assets/pieces/piece-{{ game.chessboard['d3'] }}.svg"></td>
                        <td class="e3 dark"  (click)="onClickSquare('e3')"><img src="assets/pieces/piece-{{ game.chessboard['e3'] }}.svg"></td>
                        <td class="f3 light" (click)="onClickSquare('f3')"><img src="assets/pieces/piece-{{ game.chessboard['f3'] }}.svg"></td>
                        <td class="g3 dark"  (click)="onClickSquare('g3')"><img src="assets/pieces/piece-{{ game.chessboard['g3'] }}.svg"></td>
                        <td class="h3 light" (click)="onClickSquare('h3')"><img src="assets/pieces/piece-{{ game.chessboard['h3'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a2 light" (click)="onClickSquare('a2')"><img src="assets/pieces/piece-{{ game.chessboard['a2'] }}.svg"></td>
                        <td class="b2 dark"  (click)="onClickSquare('b2')"><img src="assets/pieces/piece-{{ game.chessboard['b2'] }}.svg"></td>
                        <td class="c2 light" (click)="onClickSquare('c2')"><img src="assets/pieces/piece-{{ game.chessboard['c2'] }}.svg"></td>
                        <td class="d2 dark"  (click)="onClickSquare('d2')"><img src="assets/pieces/piece-{{ game.chessboard['d2'] }}.svg"></td>
                        <td class="e2 light" (click)="onClickSquare('e2')"><img src="assets/pieces/piece-{{ game.chessboard['e2'] }}.svg"></td>
                        <td class="f2 dark"  (click)="onClickSquare('f2')"><img src="assets/pieces/piece-{{ game.chessboard['f2'] }}.svg"></td>
                        <td class="g2 light" (click)="onClickSquare('g2')"><img src="assets/pieces/piece-{{ game.chessboard['g2'] }}.svg"></td>
                        <td class="h2 dark"  (click)="onClickSquare('h2')"><img src="assets/pieces/piece-{{ game.chessboard['h2'] }}.svg"></td>
                    </tr>
                    <tr>
                        <td class="a1 dark"  (click)="onClickSquare('a1')"><img src="assets/pieces/piece-{{ game.chessboard['a1'] }}.svg"></td>
                        <td class="b1 light" (click)="onClickSquare('b1')"><img src="assets/pieces/piece-{{ game.chessboard['b1'] }}.svg"></td>
                        <td class="c1 dark"  (click)="onClickSquare('c1')"><img src="assets/pieces/piece-{{ game.chessboard['c1'] }}.svg"></td>
                        <td class="d1 light" (click)="onClickSquare('d1')"><img src="assets/pieces/piece-{{ game.chessboard['d1'] }}.svg"></td>
                        <td class="e1 dark"  (click)="onClickSquare('e1')"><img src="assets/pieces/piece-{{ game.chessboard['e1'] }}.svg"></td>
                        <td class="f1 light" (click)="onClickSquare('f1')"><img src="assets/pieces/piece-{{ game.chessboard['f1'] }}.svg"></td>
                        <td class="g1 dark"  (click)="onClickSquare('g1')"><img src="assets/pieces/piece-{{ game.chessboard['g1'] }}.svg"></td>
                        <td class="h1 light" (click)="onClickSquare('h1')"><img src="assets/pieces/piece-{{ game.chessboard['h1'] }}.svg"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="square-name">
                7
            </td>
        </tr>
        <tr>
            <td class="square-name">
                6
            </td>
        </tr>
        <tr>
            <td class="square-name">
                5
            </td>
        </tr>
        <tr>
            <td class="square-name">
                4
            </td>
        </tr>
        <tr>
            <td class="square-name">
                3
            </td>
        </tr>
        <tr>
            <td class="square-name">
                2
            </td>
        </tr>
        <tr>
            <td class="square-name">
                1
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="square-name">
                a
            </td>
            <td class="square-name">
                b
            </td>
            <td class="square-name">
                c
            </td>
            <td class="square-name">
                d
            </td>
            <td class="square-name">
                e
            </td>
            <td class="square-name">
                f
            </td>
            <td class="square-name">
                g
            </td>
            <td class="square-name">
                h
            </td>
        </tr>
    </table>
</div>

<div id="body-game-3d" class="fix-height">
    <canvas id="canvas"></canvas>
</div>

<div id="footer-you" class="fix-width">
    <div class="player view-by-white">
        <span *ngIf="game.playingColor == 'w'" class="turn glyphicon glyphicon-asterisk"></span>
        <span class="name">{{ game.getUserByColor('w').username }}</span>
    </div>
</div>


