
<h4>{{ 'Chose your color and opponent' | translate }}</h4>

<form
        #gameCreateForm="ngForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">

        <label for="colorVsUser">{{ 'Your color' | translate }}</label>

        <select
                class="form-control"
                id="colorVsUser"
                required
                [(ngModel)]="model.color"
                name="color">
            <option value="white">{{ 'White' | translate }}</option>
            <option value="black">{{ 'Black' | translate }}</option>
        </select>

    </div>

    <div class="form-group">

        <label for="color">{{ 'Opponent' | translate}}</label>

        <select
                class="form-control"
                id="opponent"
                required
                [(ngModel)]="model.opponent"
                name="opponent">
            <option
                    *ngFor="let possibleOpponent of possibleOpponents"
                    [value]="possibleOpponent.id">{{possibleOpponent.username}}</option>
        </select>

    </div>

    <button
            type="submit"
            class="btn btn-success"
            [disabled]="!gameCreateForm.form.valid">
        {{ 'Create' | translate }}</button>

</form>
