
<h4>You will play versus the computer. Chose your color.</h4>

<form
        #gameVsComputerCreateForm="ngForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="color">Your color</label>
        <select
                class="form-control"
                id="color"
                required
                [(ngModel)]="model.color"
                name="color">
            <option
                    *ngFor="let possibleColor of possibleColors"
                    [value]="possibleColor">{{possibleColor}}</option>
        </select>

    </div>

    <button
            type="submit"
            class="btn btn-success"
            [disabled]="!gameVsComputerCreateForm.form.valid">
        Submit</button>

</form>
