
<h4>{{ 'You will play versus the computer. Chose your color.' | translate}}</h4>

<form
        #gameVsComputerCreateForm="ngForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="colorVsComputer">{{ 'Your color' | translate }}</label>
        <select
                class="form-control"
                id="colorVsComputer"
                required
                [(ngModel)]="model.color"
                name="color">
            <option id="colorVsComputerWhite" value="white">{{ 'White' | translate }}</option>
            <option id="colorVsComputerBlack" value="black">{{ 'Black' | translate }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="colorVsComputer">{{ 'Difficulty level' | translate }}</label>
        <select
                class="form-control"
                id="level"
                required
                [(ngModel)]="model.level"
                name="color">
            <option
                    *ngFor="let levelIndex of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]"
                    value="{{ levelIndex }}">
                {{ levelIndex }}
            </option>
        </select>
    </div>

    <button
            type="submit"
            class="btn btn-success"
            [disabled]="!gameVsComputerCreateForm.form.valid">
        {{ 'Start' | translate }}</button>

</form>
