
<h4>{{ 'You will play versus the computer. Chose your color.' | translate}}</h4>

<form
        #gameVsComputerCreateForm="ngForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="colorVsComputer">{{ 'Your color' | translate }}</label>
        <select
                class="form-control"
                id="colorVsComputer"
                required
                [(ngModel)]="model.color"
                name="color">
            <option id="colorVsComputerWhite" value="white">{{ 'White' | translate }}</option>
            <option id="colorVsComputerBlack" value="black">{{ 'Black' | translate }}</option>
        </select>

    </div>

    <button
            type="submit"
            class="btn btn-success"
            [disabled]="!gameVsComputerCreateForm.form.valid">
        {{ 'Start' | translate }}</button>

</form>
