
<form
        #registerForm="ngForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">

        <label for="username">{{ 'Username' | translate }}</label>

        <input type="text"
               class="form-control"
               id="username"
               required
               [(ngModel)]="model.username"
               name="username"
               #username="ngModel">

        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
            {{ 'This field is required' | translate }}
        </div>

    </div>

    <div class="form-group">

        <label for="email">{{ 'Email' | translate }}</label>

        <input type="email"
               class="form-control"
               id="email"
               required
               email
               [(ngModel)]="model.email"
               name="email"
               #email="ngModel">

        <div [hidden]="email.valid || email.untouched"
             class="alert alert-danger">
            {{ 'This is not a valid email' | translate }}
        </div>

    </div>

    <div class="form-group">

        <label for="password">{{ 'Password' | translate }}</label>

        <input type="password"
               class="form-control"
               id="password"
               required
               [(ngModel)]="model.password"
               name="password"
               #password="ngModel">

        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
            {{ 'This field is required' | translate }}
        </div>

    </div>

    <button
            type="submit"
            class="btn btn-success"
            [disabled]="!registerForm.form.valid">
        {{ 'Register' | translate }}</button>

</form>
