<div class="view need-authentication" id="change-password">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-9">

                <h3 class="translate">New password</h3>

                <div class="messages-container"></div>

                <form-change-password></form-change-password>

            </div>

            <div class="col-xs-1"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
                <p></p>
                <p>
                    <a href="#profile" class="translate">Back to your profile</a>
                </p>
            </div>
            <div class="col-xs-1"></div>
        </div>


    </div>
</div>