<navigation></navigation>

<div class="view need-authentication" id="games">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-10">

                <h3 class="translate">Games</h3>

                <flash-messages></flash-messages>

                <p [hidden]="orderedGames.inProgress.length != 0 || orderedGames.proposedByOthers.length != 0 || orderedGames.proposedToOthers.length != 0 || orderedGames.ended.length != 0">
                    You don't have any game. You should create one !
                </p>

                <a href="game-create" class="btn btn-info translate">Create a game</a>

                <h4 class="translate" *ngIf="orderedGames.inProgress.length != 0">
                    Games in progress
                </h4>

                <ul class="games" id="games-in-progress">
                    <li *ngFor="let game of orderedGames.inProgress">
                        <a
                                href="game/12"
                                class="go-to-game pull-right btn btn-primary btn-sm">
                            Play
                        </a>
                        Versus <strong>{{ game.opponent.username }}</strong>
                        <p class="games-list-date">
                            Started on {{ game.acceptedAt }}
                        </p>
                    </li>
                </ul>

                <h4 class="translate" *ngIf="orderedGames.proposedByOthers.length != 0">
                    Games proposed by others
                </h4>

                <ul class="games" id="games-proposed-by-others">
                    <li *ngFor="let game of orderedGames.proposedByOthers">
                        <a
                                href="#"
                                class="refuse-game pull-right btn btn-danger btn-sm">
                            Refuse
                        </a>
                        <a
                                href="#"
                                class="accept-game pull-right btn btn-success btn-sm">
                            Accept
                        </a>
                        By <strong>{{ game.opponent.username }}</strong>
                        <p class="games-list-date">
                            On {{ game.createdAt }}
                        </p>
                    </li>
                </ul>

                <h4 class="translate" *ngIf="orderedGames.proposedToOthers.length != 0">
                    Games proposed to others
                </h4>

                <ul class="games" id="games-proposed-to-others">
                    <li *ngFor="let game of orderedGames.proposedToOthers">
                        To <strong>{{ game.opponent.username }}</strong>
                        <p class="games-list-date">
                            On {{ game.createdAt }}
                        </p>
                    </li>
                </ul>

                <h4 class="translate" *ngIf="orderedGames.ended.length != 0">
                    Games ended
                </h4>

                <ul class="games" id="games-ended">
                    <li *ngFor="let game of orderedGames.ended">
                        <a
                                href="game/12"
                                class="go-to-game pull-right btn btn-primary btn-sm">
                            See
                        </a>
                        Versus <strong>{{ game.opponent.username }}</strong>
                        <p class="games-list-date">
                            Ended on {{ game.endedAt }}
                        </p>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>