<navigation></navigation>

<div class="container">
    <div class="row">

        <div class="col-xs-2"></div>

        <div class="col-xs-9">

            <h3>{{ 'Game creation' | translate }}</h3>

            <div class="text-center" [hidden]="formVsComputerIsVisible || formVsUserIsVisible">
                <button class="btn btn-info" (click)="displayFormVsUser()">
                    {{ 'Play versus another user' | translate}}
                </button>
                <button class="btn btn-info" (click)="displayFormVsComputer()">
                    {{ 'Play versus computer' | translate}}
                </button>
            </div>

            <form-game-vs-computer-create [hidden]="!formVsComputerIsVisible"></form-game-vs-computer-create>

            <form-game-create [hidden]="!formVsUserIsVisible"></form-game-create>

        </div>

        <div class="col-xs-1"></div>

    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-9">
            <p></p>
            <p>
                <a routerLink="/">{{ 'Back to your games' | translate }}</a>
            </p>
        </div>
        <div class="col-xs-1"></div>
    </div>

</div>