<navigation></navigation>

<div class="view need-authentication" id="game-create">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-9">

                <h3 class="translate">Game creation</h3>

                <flash-messages></flash-messages>

                <div class="text-center" [hidden]="formVsComputerIsVisible || formVsUserIsVisible">
                    <button class="btn btn-info" (click)="displayFormVsUser()">
                        Play<br>vs.<br>a user
                    </button>
                    <button class="btn btn-info" (click)="displayFormVsComputer()">
                        Play<br>vs.<br>computer
                    </button>
                </div>

                <form-game-vs-computer-create [hidden]="!formVsComputerIsVisible"></form-game-vs-computer-create>

                <form-game-create [hidden]="!formVsUserIsVisible"></form-game-create>

            </div>

            <div class="col-xs-1"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
                <p></p>
                <p>
                    <a href="" class="translate">Back to your games</a>
                </p>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </div>
</div>

