<div class="view need-authentication" id="game-create">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-9">

                <h3 class="translate">Game creation</h3>

                <div class="messages-container"></div>

                <form-game-vs-computer-create></form-game-vs-computer-create>

                <form-game-create></form-game-create>

            </div>

            <div class="col-xs-1"></div>

        </div>
    </div>
</div>

