<div class="view" id="login">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-8">

                <h3 >{{ 'Login' | translate }}</h3>

                <form-login></form-login>

            </div>

            <div class="col-xs-2"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <p></p>
                <p>
                    <span>{{ 'Not in yet ?' | translate }}</span>
                    <br>
                    <a href="register">{{ 'Sign up now !' | translate }}</a>
                </p>
            </div>
            <div class="col-xs-2"></div>
        </div>

    </div>
</div>