<div class="view" id="login">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-8">

                <h3 class="translate">Login</h3>

                <div class="messages-container"></div>

                <form-login></form-login>

            </div>

            <div class="col-xs-2"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <p></p>
                <p>
                    <span class="translate">Not in yet ?</span>
                    <br>
                    <a href="#register" class="translate">Sign up now !</a>
                </p>
            </div>
            <div class="col-xs-2"></div>
        </div>

    </div>
</div>