<div class="view need-authentication" id="profile">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-9">

                <h3 class="translate">Profile</h3>

                <div class="messages-container"></div>

                <p>
                    <strong>
                        <span class="translate">Username</span>
                        : </strong>
                    <span class="profile-username">Username</span>
                </p>

                <p>
                    <strong>
                        <span class="translate">Email</span>
                        : </strong>
                    <span class="profile-email">Email</span>
                </p>

            </div>

            <div class="col-xs-1"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
                <p></p>
                <p>
                    <a href="#change-password" class="translate">Change password</a>
                </p>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </div>
</div>