<div class="view" id="register">
    <div class="container">
        <div class="row">

            <div class="col-xs-2"></div>

            <div class="col-xs-8">

                <h3 class="translate">Register</h3>

                <div class="messages-container"></div>

                <form-register></form-register>

            </div>

            <div class="col-xs-2"></div>

        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <p></p>
                <p>
                    <span class="translate">Allready in ?</span>
                    <br>
                    <a href="login" class="translate">Sign in !</a>
                </p>
            </div>
            <div class="col-xs-2"></div>
        </div>


    </div>
</div>