html,body {
    position: relative;
}
a {
    cursor: pointer;
}

/* Form validation */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
/* ------------------------------------------------------- */

/* Loader */
#loader {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 1000;
    display: none;
    text-align:center;
}
#loader img {
    margin-top: 100px;
}
/* ------------------------------------------------------- */
.alert-success, .alert-error {
    margin-top: 25px;
}

/* ------------------------------------------------------- */
