<nav id="nav" clas="deployed">
    <a href="#" id="toggle-nav-content">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <div id="nav-content">
        <p>
            <strong class="profile-username">Username</strong>
        </p>
        <ul>
            <li>
                <a href="games">
                    <span class="glyphicon glyphicon-king"></span>
                    <span class="translate">Games</span>
                </a>
            </li>
            <li>
                <a href="profile">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="translate">Profile</span>
                </a>
            </li>
        </ul>
        <p>
            <a href="#" id="logout-link">
                <span class="translate">Logout</span>
            </a>
        </p>
    </div>
</nav>

<router-outlet></router-outlet>