/* Game result */
.game-result {
    height: 55px;
    font-size: x-large;
    line-height: 55px;
    padding-left: 65px;
    color: #b62516;
}
/*-----------------------------------------*/

/* Chessboard wrapper */
.chessboard-wrapper {
    width: 100%;
}
.chessboard-wrapper td {
    width: 11.11%;
    vertical-align: middle;
}
.chessboard-wrapper td.player span.name {
    font-size: x-large;
}
.chessboard-wrapper td.player span.turn {
    float: right;
    color: #b62516;
}
.chessboard-wrapper td.square-name {
    text-align: center;
    font-size: smaller;
}
/*-----------------------------------------*/

/* Chessboard */
.chessboard {
    width: 100%;
}
.chessboard td {
    text-align: center;
    font-size: xx-large;
    cursor: default;
}
.chessboard td.dark {
    background: #d18b47;
}
.chessboard td.light {
    background: #ffce9e;
}