<br>
<br>
<br>


<table class="chessboard-wrapper" id="chessboard-wrapper-by-white">
    <thead>
        <tr>
            <td class="player" colspan="9">
                <span class="turn glyphicon glyphicon-asterisk"></span>
                Nom de votre adversaire
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="square-name">
                8
            </td>
            <td rowspan="8" colspan="8">
                X
            </td>
        </tr>
        <tr>
            <td class="square-name">
                7
            </td>
        </tr>
        <tr>
            <td class="square-name">
                6
            </td>
        </tr>
        <tr>
            <td class="square-name">
                5
            </td>
        </tr>
        <tr>
            <td class="square-name">
                4
            </td>
        </tr>
        <tr>
            <td class="square-name">
                3
            </td>
        </tr>
        <tr>
            <td class="square-name">
                2
            </td>
        </tr>
        <tr>
            <td class="square-name">
                1
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="square-name">
                a
            </td>
            <td class="square-name">
                b
            </td>
            <td class="square-name">
                c
            </td>
            <td class="square-name">
                d
            </td>
            <td class="square-name">
                e
            </td>
            <td class="square-name">
                f
            </td>
            <td class="square-name">
                g
            </td>
            <td class="square-name">
                h
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="player" colspan="9">
                <span class="turn glyphicon glyphicon-asterisk"></span>
                Votre nom
            </td>
        </tr>
    </tfoot>
</table>

