/* Chessboard wrapper */
.chessboard-wrapper {
    width: 100%;
}
.chessboard-wrapper td {
    width: 11.11%;
    vertical-align: middle;
}
.chessboard-wrapper td.player {
    font-size: larger;
}
.chessboard-wrapper td.player span.turn {
    float: right;
    color: #b62516;
}
.chessboard-wrapper td.square-name {
    text-align: center;
    font-size: smaller;
}
/*-----------------------------------------*/

/* Chessboard */
.chessboard {
    width: 100%;
}
.chessboard td {
}
.chessboard td.dark {
    background: #d18b47;
}
.chessboard td.light {
    background: #ffce9e;
}