<nav id="nav" clas="deployed">
    <a (click)="toggleNavContent()" id="toggle-nav-content">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <div id="nav-content" [hidden]="!deployed">
        <p>
            <strong *ngIf="profile">
                {{ profile.username }}
            </strong>
        </p>
        <ul>
            <li>
                <a id="navGames" routerLink="/">
                    <span class="glyphicon glyphicon-king"></span>
                    <span>{{ 'Games' | translate}}</span>
                </a>
            </li>
            <li>
                <a id="navProfile" routerLink="/profile">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{{ 'Profile' | translate }}</span>
                </a>
            </li>
        </ul>
        <p>
            <a (click)="logout()" id="logout-link">
                <span>{{ 'Logout' | translate }}</span>
            </a>
        </p>
    </div>
</nav>

<router-outlet></router-outlet>